body{
  font-family: 'Inter', sans-serif;
}

.dimensione-navbar{
    height: 70px;
}

.logo-navbar{
    font-size: 2rem;
    color: #0070D1;
}

.returnal-background{
    height:470px;
    background-image:url(../img/jumbo-bg.png);
    background-size:cover;
    background-position:center;
    position:relative;
}

.img-overlay {
  width: 240px;
  height: auto; 
}

.btn-acquista{
    background-color: #CD3D0F;
    border-radius: 20px;
    width: 100px;
}

.border-wrapper{
    border: 2px solid #0070d1;
    padding: 3px;           
    border-radius: 15px;    
    display: inline-block;  
}

.border-img{
    border-radius: 10px;
}

.ps5-img{
    width: 100%;
    height: auto;
}

.ps5-button{
    border-radius: 20px;
    border: none;
}

.liena-select{
    border-bottom: 2px solid #0070D1;
    padding-bottom: 3px;
    display: inline-block;
}

.it-takes-two-background{
    height: 500px;
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position:center;
    position:relative;
}

.background-ps-plus{
    background-color: #BEBCBB;
}

.button-ps-plus{
    border-radius: 25px;
    color: #0070D1;
}

.sconti-img{
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.background-ps-now{
    background-color: #161C3B;
}

.button-ps-now{
    border-radius: 25px;
    color: black;
    background-color: white;
}

.social-img{
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.background-footer{
    background-color: #00439C;
}

.logo-ps-footer{
    color: white;
    font-size: 6rem;
    
}

.humburger-size{
    font-size: 0.9rem;
}

.navbar-collapse {
    z-index: 1060;  
    background: white  
}

.img-ps-plus{
    width: 60%;
    height: auto;
}

.img-footer{
    width: 60%;
    height: auto;
}